<!-- Head -->
<%- include("../partials/head.ejs") %>

    <body>
        <!-- NavBar -->
        <%- include("../partials/nav.ejs") %>
        
        <div class="container mt-6">

            <!-- Inicio Container -->
            <div class="row">
                <div class="col p-4">
                    <p class="text-red text-center h1 text-capitalize"><%= sectionToShow.routeS %></p>
                </div>
            </div>

            <!-- Contents -->
            <% if(categoryContents.length > 0) { %>
                <div class="row justify-content-around">
                    <% for( let i = 0; i < categoryContents.length; i++ ) { %>
                        <div class="card my-3 shadow p-0 card-flotante col-12 col-md-6">
                            <a href="/<%= sectionToShow.routeS %>/<%= categoryContents[i].id %>">
                                <div class="row g-0">
                                    <div class="col-md-4 position-relative">
                                        <img src="./images/contents/<%= categoryContents[i].img %>" class="float-start img-responsive w-100 rounded-start" alt="...">
                                        <div class="position-absolute bottom-0 w-100">
                                            <p class="card-text tiny text-center m-2 bg-light bg-opacity-25 rounded"><small class="">Photo by <a class="link-dark" href="<%= categoryContents[i].autorLinkImg %>"><%= categoryContents[i].autorImg %></a> on <a class="link-dark" href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></small></p>
                                        </div>
                                    </div>
                                    <div class="col-md-8 h-100">
                                        <div class="card-body row h-100 position-relative">
                                            <h5 class="card-title col-12 fs-3"><%= categoryContents[i].title %></h5>
                                            <p class="card-text truncate col-12"><%= categoryContents[i].description %></p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
            <% } %>

            <% if(sectionToShow.routeS == "kayaking") { %> 
                <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/6917136323/embed/e3d7c71fb122fd9b1ec3ffab37c6f21e6169b8a8'></iframe>
            <% } %> 

            <!-- Archivos disponibles -->
            <div class="card my-3">
                <ul class="list-group list-group-flush">
                    <% for (let i = 0; i < categoryFiles.length; i++) { %> 
                        <li class="list-group-item d-flex">
                            <p class="m-0 p-0 flex-grow-1 align-self-center"><%= categoryFiles[i].name %></p>
                            <p class="m-0 p-0 flex-grow-1 align-self-center"><%= categoryFiles[i].description %></p>
                            <a type="button" class="btn btn-sm my-auto" title="Descargar" aria-label="Descargar" href="<%= categoryFiles[i].link %>" target="_blank"><img src="/icon/download-cloud.svg" class="is-24" alt="Descargar"></a>
                        </li>
                    <% } %> 
                </ul>
            </div>

            <!-- Fin Container -->
        </div>

        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>

        <!-- JS Bootstrap -->
        <%- include("../partials/jsBoot.ejs") %> 
    </body>
</html>