<!-- Head -->
<%- include("../partials/head.ejs") %>

    <body>
        <!-- NavBar -->
        <%- include("../partials/nav.ejs") %>

        <!-- Float Button -->
        <%- include("../partials/button.ejs") %>
        
        <div class="container-fluid mt-6 p-0">

            <!-- Inicio Container -->
            <!-- Frase del día -->
            <div class="row vh-100">
                <div class="col m-auto">
                    <% let random = Math.floor(Math.random() * (phrases.length)) %> 
                    <p class="text-red text-center h2 mx-auto vw-75">"<%= phrases[random].phrase %>"<br><br><%= phrases[random].autor %></p>
                </div>
            </div>

            <div class="row">
                <% for( let i = 0; i < sections.length; i++ ) { %>
                    <div class="card bg-dark text-white border-0 rounded-0 m-0 p-0 zi-1000 col-12 col-md-6">
                        <img src="/images/index/<%= sections[i].img %>" class="card-img rounded-0" alt="<%= sections[i].name %>">
                        <div class="card-img-overlay">
                            <a href="/<%= sections[i].routeS %>" class="text-decoration-none mx-auto">
                                <h3 class="card-title text-black m-auto bg-light text-center bg-opacity-25 yellowLink rounded"><%= sections[i].name %></h3>
                            </a>
                            <p class="card-text text-center text-black bg-light bg-opacity-25 rounded position-absolute bottom-0 end-0 mx-2 mb-2"><small class="m-2">Photo by <a class="text-black yellowLink text-decoration-none" href="<%= sections[i].autorLink %>"><%= sections[i].autor %></a> on <a class="text-black yellowLink text-decoration-none" href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></small></p>
                        </div>
                    </div>
                <% } %>
            </div>

            <!-- Suscription -->
            <div class="card bg-dark text-white border-0 rounded-0 m-0 p-0 zi-1000">
                <img src="/images/subscribe.jpg" class="card-img rounded-0" alt="Suscribite">
                <div class="card-img-overlay ">
                    <div class="h-60">
                    </div>
                    <div class="vw-50 mx-auto">
                        <h3 class="card-title text-black m-auto bg-light text-center bg-opacity-25 yellowLink rounded">Suscribite</h3>
                    </div>
                    <div class="vw-50 my-3 mx-auto">
                        <p class="card-title text-white m-auto text-center rounded">Recibí en tu correo la newsletter semanal</p>
                    </div>
                    <div class="input-group my-3 vw-50 mx-auto bg-opacity-25">
                        <input type="email" class="form-control bg-opacity-25" placeholder="¡Acá tu E-mail!" aria-label="¡Acá tu E-mail!" aria-describedby="button-addon2" required>
                        <button class="btn btn-light yellowLink" type="submit">Suscribir</button>
                    </div>
                    <div class="form-check my-3 vw-50 mx-auto">
                        <input class="form-check-input" type="checkbox" value="" id="politicChek" required>
                        <label class="form-check-label" for="politicChek">He leído las <a href="/legal" class="text-decoration-none text-yellow redLink">políticas de privacidad.</a></label>
                    </div>
                    <p class="card-text text-center text-black bg-light bg-opacity-25 rounded position-absolute bottom-0 end-0 mx-2 mb-2"><small class="m-2">Photo by <a class="text-black yellowLink text-decoration-none" href="https://unsplash.com/@clarktibbs">Clark Tibbs</a> on <a class="text-black yellowLink text-decoration-none" href='https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'>Unsplash</a></small></p>
                </div>
            </div>

            <!-- Fin Container -->
        </div>

        <!-- Footer -->
        <%- include("../partials/footer.ejs") %>

        <!-- JS Bootstrap -->
        <%- include("../partials/jsBoot.ejs") %> 
    </body>
</html>